<ul class="list-inline text-center">
  <% ["marie", "chloe", "estelle"].each do |member| %>
    <li>
      <%= image_tag "#{member}.PNG", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
